---
const data = Astro.props;
import { PortableText } from "astro-portabletext";

console.log("Details", data);
---

<section>
  <div
    class="projects_details container mx-auto bg-gray-100 rounded-lg shadow-lg overflow-hidden"
  >
    <h1 class="text-2xl py-4 text-center">
      {data?.detailsData?.projectName}
    </h1>
    <img src={`${data?.detailsData?.BackgroundImage?.asset?.url}`} />
    <div class="px-4 py-4">
      <PortableText
        class="text-xl mb-2 font-Roboto"
        value={data?.detailsData?.projectcontent}
      />
    </div>
  </div>
</section>
