---
import Myswiper from "../../components/Slider/SliderLayout.jsx";
const data = Astro.props;
const skilldata = Astro.props;


import { PortableText } from "astro-portabletext";
import { Icon } from "astro-icon/components";
import Contact from "../Contact/Contact.astro";


---



<section class="portfolio-section container mx-auto pt-12 ">
  <div class="grid md:grid-cols-2 grid-cols-1 gap-2 justify-items-center  px-3 md:px-0 ">
    <div class="w-auto overflow-hidden  ">
      <img
        class="w-auto border rounded-3xl border-slate-600 h-100  filter grayscale-10 grayscale"
        src={`${data?.aboutData[0]?.heroImage?.asset?.url}`}
        alt="Sunset in the mountains"
      />
    </div>
    <div>
      <div class="px-6">
        <div class="font-bold text-xl mb-4 mt-2  font-Roboto about_name">
          {data?.aboutData[0]?.aboutName}
        </div>
        <PortableText class="font-normal text-lg  font-Roboto text-white" value={data?.aboutData[0]?.description} />
      </div>
      <div class="px-6 py-2">
        <h4 class="text-lg font-medium font-Roboto get_connect ">Get Connect</h4>
        <div class="pt-4 pb-2 flex gap-6 w-3/5">


          <a class="hover:shadow-xl transition-transform duration-200 transform hover:scale-105" target="_blank">
            <Icon class:list={"none"} name="instagram" size={40} />
          </a>
          <a class="hover:shadow-xl transition-transform duration-200 transform hover:scale-105"  href="https://github.com/TanujPandey09" target="_blank">
            <Icon name="github" size={40} />
          </a>
          <a class="hover:shadow-xl transition-transform duration-200 transform hover:scale-105" href="https://www.linkedin.com/in/tanujp09/" target="_blank" ><Icon name="linkedin" size={40} /></a>
        </div>
      </div>
    </div>
  </div>

</section>
<Myswiper skilldata={skilldata} client:load />

<style>
 
 
  .cursor {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid rgb(226, 219, 219);
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
  }
.about_name,.get_connect,.skills_heading{
  color: var(--primary-color);
}

.about_desc {
  color: var(--primary-color);
}
  .cursor2 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: black;
    opacity: 0.3;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition:
      width 0.3s,
      height 0.3s,
      opacity 0.3s;
  }

  .cursorinnerhover {
    width: 50px;
    height: 50px;
    opacity: 0.5;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes bgGradient {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
</style>
