---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";

import HomeLayout from "../components/HomeLayout.astro";
import { sideMenus } from "../components/Sidebar.astro";

---

<div class="">

	<Layout title="Home">
	 <HomeLayout/>	
	</Layout>
  
</div>
