---

---

<!-- <section class="contact_us container mx-auto px-4 py-5">
  <h4 class="text-3xl font-bold py-4">Contact Section</h4>
  <form>
    <div class="flex flex-col">
      <div class="w-auto py-4">
        <label aria-placeholder="email"></label>
        <input class="" placeholder="email" />
      </div>
      <div class="w-auto py-4">
        <label aria-placeholder="email"></label>
        <input class="" placeholder="" />
      </div>
    </div>
    <div class="w-auto py-4">
      <label aria-placeholder="email"></label>
      <input class="" placeholder="email" />
    </div>
    <button class="button px-5 py-4 inline-flex bg-slate-900"> Send</button>
  </form>
</section> -->
