#app { height: 100% }






.swiper {
  width: 500px;
  min-height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
 
}

@media only screen and (max-width: 600px) {
    .swiper {
      width: 200px;
      height: 100%;
    }
  }






